:root {
  --accent-color: #e54065;
  --bg-color-primary: #f4f5f9;
  --bg-color-secondary: #f2f2f2;
  --border-color: #cfd2dc;
  --button-color: #e1e4ea;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  background: var(--bg-color-primary);
  height: 100vh;
  margin: 0;
  padding: 0;
}
#root {
  height: 100%;
  margin: 0 auto;
}
